.main {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  align-items: center;
  /* padding: 6rem; */
  width: 100vw;
  min-height: 100vh;
  background-color: white;
}


.search{
  width: 30%;
  height: 7vh;
  flex-direction: row;
  align-items: center;
  margin-top: 15vh;
}

.btn{
  all: unset;
  cursor: pointer;
  width: 7vh;
  height: 7vh;
  border-radius: 7vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.results{
  width: 40%;
  margin-top: 5vh;
  flex-direction: column;
}